h1 Barriers
h2 To Reusability

img(src="assets/images/dwarven-doors-closed.png").sprite

---

h1 Bloat
img(src="assets/images/ogre.png").sprite.big

---

h2 Bloat

ul
  li It's too easy just to put everything in a single package
  li Currently, we tend to use frameworks or multifunctional libraries
  li.fragment But this is just a symptom of a wider problem.
  
---

h1 Complexity
img(src="assets/images/enforcer.png").sprite.big

---

h2 Complexity

ul
  li Reusability != Layers of Abstraction

---

h1 Obscurity
img(src="assets/images/adept.png").sprite.big

---

h2 Obscurity

ul
  li Finding libraries to achieve a particular outcome is very difficult.
  li This is also true of smaller, more obscure libraries also.

---

h1 Attainability
img(src="assets/images/trapdoor-open.png").sprite.big

---

h2 Attainability

ul
  li Current processes for obtaining libraries are very manual.
  li Tools for automating downloads are very immature

---

h1 Specificity
img(src="assets/images/yeti.png").sprite.big

---

h2 Specificity

ul
  li While JS is highly reusable, it's very easy to mix platform/environment specific features in with reusable code.

