h2 The Quest for
h1 Reusable JS

img(src="assets/images/champion-attack-1.png").sprite

---

h2 Why Care About Reusability?

ul
	li.fragment You generally save time in the long run
	li.fragment Reusable code is generally easier to maintain
	li.fragment You impact projects beyond your own
	li.fragment It just makes sense...

---

h2 JS Runtimes are Everywhere

ul
	li.fragment So perfect platform for reuse... right?
	li.fragment Yes, but...