h1 Principles
h2 of Reusability

img(src="assets/images/white-cleric+female.png").sprite

---

h1 Focus
img(src="assets/images/elder-mage.png").sprite.big

---

h2 Focus

ul
  li Keep your libraries / packages tight.
  li Create libraries with a Single Reponsibility or Purpose.

---

h1 Test
img(src="assets/images/duelist-attack.png").sprite.big.tight
img(src="assets/images/impaler-death-8.png").sprite.big.tight

---

h2 Test

ul
  li Reusing code requires trust of that code
  li Trust generally comes from positive reviews from others, but having a good suite of unit tests generally helps too
  li A good test suite makes it easier to sleep at night

---

h1 Tag
img(src="assets/images/archer-bow.png").sprite.big

---

h2 Tag

ul
  li If you are using distributed source control then you should embrace tagging.
  li Tagging provides you benefits beyond source control when combined with "social coding" sites such as Github and Bitbucket.